## <font color='green'>2º Ejercicio</font>

Utilizaremos los siguientes csvs, disponibles en la carpeta *data*:
- empleados_tienda.csv
- facturacion_tienda.csv

Crea una nueva BBDD (comercio) y guarda los csvs en dos tablas (empleados, facturacion).

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
# Conexión.

connection = sqlite3.connect('comercio.db')

In [ ]:
# Lectura y conversión a dataframe.

df_emp = pd.read_csv('../data/empleados_tienda.csv')
df_fact = pd.read_csv('../data/facturacion_tienda.csv')
display(df_emp.info(), df_emp.head(10), df_fact.info(), df_fact.head())

In [ ]:
# Almacenamos nuestro dataframe en nuestra BBDD.

df_emp.to_sql(name="empleados", con=connection, index=False)
df_fact.to_sql(name="facturacion", con=connection, index=False)

#### Realiza las siguientes consultas

¿Cuáles son las tiendas con más de 2 empleados?

In [ ]:
# select = "SELECT id_tienda FROM (SELECT id_tienda, COUNT(*) AS num_empleados FROM empleados GROUP BY id_tienda HAVING num_empleados>2)"
select = '''
SELECT id_tienda 
FROM (SELECT id_tienda, COUNT(*) AS num_empleados 
      FROM empleados 
      GROUP BY id_tienda 
      HAVING num_empleados>2)
      '''
pd.read_sql_query(select, con=connection)

¿Cuántos de los empleados son jefes?

In [ ]:
select = '''
SELECT COUNT(DISTINCT id_empleado) 
FROM (SELECT id_empleado 
      FROM empleados 
      WHERE id_jefe_directo IS NOT NULL)'''
pd.read_sql_query(select, con=connection)

Ordena los tipos de jefes de mayor a menor según frecuencias.

In [ ]:
select = '''
SELECT id_jefe_directo,
COUNT(*) AS num_empleados
FROM empleados
WHERE id_jefe_directo IS NOT NULL
GROUP BY id_jefe_directo
ORDER BY num_empleados DESC'''
pd.read_sql_query(select, con=connection)

In [ ]:
select = '''
SELECT id_jefe_directo,
COUNT(*) AS num_empleados,
GROUP_CONCAT(nombre) AS jef_names
FROM empleados
WHERE id_jefe_directo IS NOT NULL
GROUP BY id_jefe_directo
ORDER BY num_empleados DESC'''
pd.read_sql_query(select, con=connection)

In [ ]:
# Obtener el nombre de los jefes (cruzar id_empleado con id_jefe_directo).
# Output: Ana, Jon, Fernando.

select = '''
SELECT emp1.id_empleado, emp1.nombre, emp1.apellido
FROM empleados emp1
JOIN empleados emp2
ON emp1.id_empleado = emp2.id_jefe_directo
GROUP BY emp1.id_empleado
'''
pd.read_sql_query(select, con=connection)

Ordena las tiendas de menor a mayor número de empleados.

In [ ]:
select = '''
SELECT id_tienda,COUNT(*) AS num_empleados
FROM empleados
GROUP BY id_tienda
ORDER BY num_empleados'''
pd.read_sql_query(select, con=connection)

¿Cuáles son las tiendas que tienen el número máximo de empleados? (Puede haber más de una tienda que tenga el número máximo de empleados)

In [ ]:
select = '''
SELECT id_tienda,COUNT(*) AS num_empleados
FROM empleados
GROUP BY id_tienda
ORDER BY num_empleados DESC

'''
pd.read_sql_query(select, con=connection)

In [ ]:
connection.close()