## <font color='green'>1º Ejercicio</font>

Utilizaremos el siguiente csv, disponible en la carpeta *data*:
- autos-mpg.csv

Crea una nueva BBDD (vehiculos) y guarda el csv en la tabla (autos).

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
# Conexión.

connection = sqlite3.connect('vehiculos.db')

In [ ]:
# Lectura y conversión a dataframe.

df = pd.read_csv('../data/auto-mpg.csv')
df = df.loc[df.horsepower != '?']
df.horsepower = df.horsepower.astype(int)
df.rename(
    columns = {'model year': 'model_year',
               'car name': 'car_name'},
               inplace=True)
df['car_comp'] = df['car_name'].str.split(' ').str[0]
display(df.info(), df.head())

In [ ]:
# Almacenamos nuestro dataframe en nuestra BBDD.

df.to_sql(name="autos", con=connection, index=False)

#### Realiza las siguientes consultas

¿Cuáles son los coches más potentes?

In [ ]:
select = ''' 
SELECT horsepower,car_name
FROM autos
ORDER BY horsepower DESC
LIMIT 10
'''
pd.read_sql_query(select, con=connection)

¿Cuántos vehículos tenemos de cada origen?

In [ ]:
select = ''' 
SELECT COUNT(*), origin 
FROM autos
GROUP BY origin
'''
pd.read_sql_query(select, con=connection)

¿Cuál es la media de consumo de los vehículos en función de su origen?

In [ ]:
select = ''' 
SELECT AVG(mpg), origin
FROM autos
GROUP BY origin
'''
pd.read_sql_query(select, con=connection)

Selecciona los vehículos con un consumo superior a 17 *mpg* y de origen 2.

In [ ]:
select = ''' 
SELECT *
FROM autos
WHERE mpg>17 AND origin==2
'''
pd.read_sql_query(select, con=connection)

¿Cuál es la media de peso en aquellos autos con un consumo superior a 15 *mpg*?

In [ ]:
select = ''' 
SELECT AVG(weight)
FROM autos
WHERE mpg>15
'''
pd.read_sql_query(select, con=connection)

La una query de libre elección.

In [ ]:
# La media de consumo por cada año

select = ''' 
SELECT AVG(mpg), model_year, origin
FROM autos
GROUP BY model_year, origin
'''
pd.read_sql_query(select, con=connection)

In [ ]:
# La media de consumo por cada año

select = ''' 
SELECT AVG(mpg), car_comp
FROM autos
GROUP BY car_comp
ORDER BY AVG(mpg) ASC
'''
pd.read_sql_query(select, con=connection)

In [ ]:
connection.close()